.footer {
  background-color: #303138;
  position: relative;
  z-index: 2;
}

/*** footerContact ***/

.footerContact{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 83px;
  padding-bottom: 84px;
  position: relative;
  z-index: 0;

  &::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(/assets/img/common/bg_footer-contact.svg) center center;
    opacity: 0.02;
    z-index: -1;
  }

  .c-ttl01 {
        align-items: center;
        margin-bottom: 40px;
      }
      .c-ttl01__ja {
        background-color: #fff;
        color: #303138;
      }
      .c-ttl01__en {
        color: #fff;
        font-size: 50px;
        font-weight: bold;
      }
}

.footerContact_cont {
  display: flex;
  align-items: center;
  justify-content: center;

}

.footerSns {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  padding-top: 10px;
  padding-right: clamp(20px, 5vw, 100px);
}

.footerSnsList {
  display: flex;
  margin-bottom: 34px;
  gap: 0 36px;
}

.footerSnsList__item {
  position: relative;

  &+&::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -18px;
    bottom: 0;
    width: 1px;
    height: 22px;
    margin: auto;
    background-color: #fff;
    transform: rotate(28deg);
  }
}

.footerSnsList__link {

}

.footerSnsList__img {

}

.footerSnsList__txt {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.57;
  text-align: center;
}

.footerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: clamp(20px, 5vw, 100px);
  width: 270px;
  border-left: 1px solid #FFFFFF;

  .c-btn{
    margin-top: 0;
    margin-bottom: 25px;
  }
}

/*** footerPayment ***/

.footerPayment {
  background-color: #FFFFFF;
  padding: 14px 60px;

}

.footerPayment__cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footerPayment__txt {
  font-size: 14px;
  font-weight: 600;

}

.footerPayment__img {
  max-width: 480px;
}

/*** footerInfo ***/

.footerInfo {
  padding: 51px 60px;
}


.footerInfoTop {
  display: flex;
  flex-direction: column;
  position: relative;
}

.footerInfoLogo {
  display: block;
  width: 178px;
  margin-bottom: 24px;
}

.footerInfoLogo__img {

}

.footerInfoSnsList {
  display: flex;
    gap: 0 19px;
    margin-bottom: 18px;
}

.footerInfoSnsList__item {

}

.instagram {

  .footerInfoSnsList__img{
    width: 22.87px;
  }

}

.footerInfoSnsList__link {

}

.footerInfoSnsList__img {

}

.facebook {

  .footerInfoSnsList__img{
    width: 21.53px;
  }

}

.line {

  .footerInfoSnsList__img{
    width: 26.05px;
  }

}

.footerInfoList {
  display: flex;
  flex-direction: column;
  gap: 14px 0;
}

.footerInfoList__item {
  font-size: 12px;
  font-weight: 300;
  color: #FFFFFF;
}

.address {
  position: relative;
  padding-left: 14px;

  &::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 16px;
    background: url(/assets/img/common/ico_map.svg);
  }
}

.tel {
  position: relative;
  padding-left: 14px;

  &::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 13px;
    background: url(/assets/img/common/ico_tel.svg);
  }

}

.pageTop {
  position: absolute;
  top: 0;
  right: 0;
}

.pageTop__icon {

}

.footerInfoBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  margin-top: 71px;
  border-top: 1px solid #FFFFFF;
}

.footerNavList {
  display: flex;
  gap: 0 30px;

}

.footerNavList__itme {
  font-size: 12px;
  color: #fff;
  position: relative;

  &+&::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -15px;
    bottom: 0;
    width: 1px;
    height: 12px;
    margin: auto;
    background-color: #fff;
    transform: rotate(28deg);
  }
}

.footerNavList__link {

}

.footerInfoBottom__copy {
  font-size: 12px;
  color: #fff;
  text-align: right;
}

.footerBitknot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  background-color: #FFFFFF;
}

.footerBitknot__img {
  
}



@include sp {
  .footerContact{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    z-index: 0;
  
    &::after{
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: url(/assets/img/common/bg_footer-contact.svg) center center;
      opacity: 0.02;
      z-index: -1;
    }
  
    .c-ttl01 {
          align-items: center;
          margin-bottom: 30px;
        }
        .c-ttl01__ja {
          background-color: #fff;
          color: #303138;
        }
        .c-ttl01__en {
          color: #fff;
          font-size: 30px;
          font-weight: bold;
        }
  }
  
  .footerContact_cont {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  
  }
  
  .footerSns {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    padding: 0;
  }
  
  .footerSnsList {
    display: flex;
    margin-bottom: 15px;
    margin-top: 25px;
    gap: 0 36px;
  }
  
  .footerSnsList__item {
    position: relative;
  
    &+&::before{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: -18px;
      bottom: 0;
      width: 1px;
      height: 22px;
      margin: auto;
      background-color: #fff;
      transform: rotate(28deg);
    }
  }
  
  .footerSnsList__link {
  
  }
  
  .footerSnsList__img {
  
  }
  
  .footerSnsList__txt {
    color: #FFFFFF;
    font-size: 13px;
    line-height: 1.57;
    text-align: center;
  }
  
  .footerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    border-left: 0;
  
    .c-btn{
      margin-top: 0;
      margin-bottom: 15px;
    }
  }
  
  /*** footerPayment ***/
  
  .footerPayment {
    background-color: #FFFFFF;
    padding: 14px 20px;
  
  }
  
  .footerPayment__cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  
  .footerPayment__txt {
    font-size: 13px;
    font-weight: 600;
  
  }
  
  .footerPayment__img {
    max-width: 320px;
  }
  
  /*** footerInfo ***/
  
  .footerInfo {
    padding: 40px 20px;
  }
  
  
  .footerInfoTop {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .footerInfoLogo {
    display: block;
    width: 140px;
    margin-bottom: 20px;
  }
  
  .footerInfoLogo__img {
  
  }
  
  .footerInfoSnsList {
    display: flex;
      gap: 0 19px;
      margin-bottom: 18px;
  }
  
  .footerInfoSnsList__item {
  
  }
  
  .instagram {
  
    .footerInfoSnsList__img{
      width: 22.87px;
    }
  
  }
  
  .footerInfoSnsList__link {
  
  }
  
  .footerInfoSnsList__img {
  
  }
  
  .facebook {
  
    .footerInfoSnsList__img{
      width: 21.53px;
    }
  
  }
  
  .line {
  
    .footerInfoSnsList__img{
      width: 26.05px;
    }
  
  }
  
  .footerInfoList {
    display: flex;
    flex-direction: column;
    gap: 14px 0;
  }
  
  .footerInfoList__item {
    font-size: 12px;
    font-weight: 300;
    color: #FFFFFF;
  }
  
  .address {
    position: relative;
    padding-left: 14px;
  
    &::before{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 11px;
      height: 16px;
      background: url(/assets/img/common/ico_map.svg);
    }
  }
  
  .tel {
    position: relative;
    padding-left: 14px;
  
    &::before{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 13px;
      background: url(/assets/img/common/ico_tel.svg);
    }
  
  }
  
  .pageTop {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .pageTop__icon {
  
  }
  
  .footerInfoBottom {
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footerNavList {
    display: flex;
    gap: 0 20px;
  
  }
  
  .footerNavList__itme {
    font-size: 12px;
    color: #fff;
    position: relative;
  
    &+&::before{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: -10px;
      bottom: 0;
      width: 1px;
      height: 12px;
      margin: auto;
      background-color: #fff;
      transform: rotate(28deg);
    }
  }
  
  .footerNavList__link {
  
  }
  
  .footerInfoBottom__copy {
    font-size: 12px;
    color: #fff;
  }
  
  .footerBitknot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    background-color: #FFFFFF;
  }
  
  .footerBitknot__img {
    
  }
}

.testArea{
  width: 100%;
  background-color: #F7F7F7;
  padding: 30px;
}

.button{
  font-size: 14px;
  font-weight: 600;
  width: 245px;
  background-color: #FFFFFF;
  padding: 16px  69px 17px 64px;
  border: 1px solid #303138; 
  border-radius: 0 5px 5px 5px; 
  position: relative;
  opacity: 1;

  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 14px;
    height: 14px;
    background-color: #303138;
    clip-path: polygon(0 0, 100% 0, 0 100%);
  }

  &::after{
    content: '';
    position: absolute;
    top: 0;
    right: 23px;
    bottom: 0;
    margin: auto;
    display: block;
    width: 12px;
    height: 12px;
    mask-image: url(/assets/img/common/ico_window.svg);
    mask-size: 100%;
    mask-repeat: no-repeat;
    background-color: #303138;
  }

  &:hover{
    background-color: #303138;
    color: #FFFFFF;
    opacity: 1;
    transition: 0.3;

    &::before{
      background-color: #FFFFFF;
    }

    &::after{
      background-color: #FFFFFF;
    }
  }
}