/*――――――――――――――――――――――――――――――――――――――――――――
/* divingFirstArea
――――――――――――――――――――――――――――――――――――――――――――――*/
.divingFirstArea {

}

.divingFirst__lead {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.88;
  margin-bottom: 62px;
}

.divingAboutList {
  display: flex;
  flex-direction: column;
  gap: 60px 0;
}

.divingAboutList__item {
  display: flex;
  gap: 0 60px;

  &+:nth-child(2n){
    flex-direction: row-reverse;
  }
}

.divingAboutList__imgBox {
  flex: 1 1 495px;
  aspect-ratio: 495/350;
  

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
}

.divingAboutList__contBox {
  flex: 1 1 355px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 45px 0;
}

.divingAboutList__ttl {
  font-size: 30px;
  font-weight: 600;
}

.divingAboutList__txt {
  font-size: 14px;
  line-height: 1.71;
}




/*――――――――――――――――――――――――――――――――――――――――――――
/* benefitsArea
――――――――――――――――――――――――――――――――――――――――――――――*/
.benefitsArea {
  padding-top: 50px;
  padding-bottom: 80px;

  .c-ttl01 {
    margin-bottom: 57px;
  }
}

.benefitsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px cl(20, 35);
  counter-reset: number 0;
}

.benefitsList__item {
  width: calc((100% - (cl(20, 35)* 2)) / 3);
}

.benefitsList__imgBox {
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 18px;
}

.benefitsList__txt {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;

  &::before {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303138;
    color: #fff;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 600;
    width: 24px;
    height: 24px;
    margin: -1px 6px 0 0;
    font-family: $font-futura;
    counter-increment: number 1;
    content: counter(number)'';
  }
}

@include sp {
  .benefitsArea {
    padding-top: 30px;
    padding-bottom: 50px;

    .c-ttl01 {
      margin-bottom: 30px;
    }
  }

  .benefitsList {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 15px;
  }

  .benefitsList__item {
    width: calc((100% - (15px * 1)) / 2);

  }

  .benefitsList__imgBox {
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 15px;
  }

  .benefitsList__txt {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;

    &::before {
      font-size: 11px;
      width: 20px;
      height: 20px;
      margin: 1px 4px 0 0;
      padding: 1px 0 0 0;
    }
  }
}


/*――――――――――――――――――――――――――――――――――――――――――――
/* scheduleArea
――――――――――――――――――――――――――――――――――――――――――――――*/



/*――――――――――――――――――――――――――――――――――――――――――――
/* menuAboutArea
――――――――――――――――――――――――――――――――――――――――――――――*/
.menuAboutList {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.menuAboutList__item {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 25px 30px;
}

.menuAboutContentList {

}

.menuAboutContentList__item {
  display: flex;
  gap: 0 clamp(25px, 30px, 45px);
}

.menuAboutContentList__ttl {
  min-width: 140px;
  font-size: 14px;
  font-weight: 600;
}

.menuAboutContentList__txtBox {
  
}

.menuAboutContentList__txt {
  font-size: 14px;
  line-height: 1.71;
}

.menuAboutContentList__link{
  border-bottom: 1px solid #001C10;

  &::after{
    content: '';
    background: url(/assets/img/common/ico_link-txt-arrow.svg) no-repeat center;
    width: 16px;
    height: 16px;
    margin: 0 2px -2px;
    display: inline-block;
  }
}

.yen {
  font-size: 12px;
  font-weight: 600;
}

.num {
  font-size: 14px;
  font-weight: 600;
}





/*――――――――――――――――――――――――――――――――――――――――――――
/* flow
――――――――――――――――――――――――――――――――――――――――――――――*/
.flowArea {

}

.center {

}

.flowList {
  display: flex;
  flex-direction: column;
  gap: 50px 0;
  counter-reset: number 0;
}

.flowList__item {
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  position: relative;


  &+&::before{
    content: '';
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    display: block;
    width: 27px;
    height: 15px;
    background: url(/assets/img/common/ico_flow-arrow.svg);
    margin: auto;
  }
}

.flowList__contBox {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 25px 28px 59px;
  min-height: 157px;
}

.flowList__ttl {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;

  &::before{
    display: flex;
    align-items: center;
    justify-content: center;
    content: counter(number) '';
    counter-increment: number 1;
    width: 24px;
    height: 24px;
    background-color: #303138;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    font-family: "futura";
    position: absolute;
    top: 0;
    left: -35px;;
  }
}

.flowList__txt {
  font-size: 14px;
  line-height: 1.71;
}

.flowList__imgBox {
  width: 241px;
  border-radius: 0 15px 15px 0;
  overflow: hidden;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.flowList__subImgBox {
  border: 3px solid #F5F5F5;
  border-radius: 10px;
  position: absolute;
  bottom: -26px;
  right: -27px;
  width: 136px;
  overflow: hidden;


  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


