/*――――――――――――――――――――――――――――――――――――――――――――
/* divingFirstArea
――――――――――――――――――――――――――――――――――――――――――――――*/
.divingFirstArea {

}

.divingFirst__lead {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.88;
  margin-bottom: 52px;
}

.divingAboutList {
  display: flex;
  flex-direction: column;
  gap: 60px 0;
}

.divingAboutList__item {
  display: flex;
  gap: 0 60px;

  &+:nth-child(2n){
    flex-direction: row-reverse;
  }
}

.divingAboutList__imgBox {
  flex: 1 1 495px;
  aspect-ratio: 495/350;
  

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
}

.divingAboutList__contBox {
  flex: 1 1 355px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 35px 0;
}

.divingAboutList__ttl {
  font-size: 30px;
  font-weight: 600;
}

.divingAboutList__txt {
  font-size: 14px;
  line-height: 1.71;
}

@include sp{

  .divingFirstArea {
    padding-bottom: 40px;

    .c-firstPhotoList {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0 20px;
      width: 100%;
      max-width: 500px;
      margin: 30px auto 0;
    }
  
}

.divingFirst__lead {
  font-size: 16px;
    font-weight: 600;
    line-height: 1.88;
    margin-bottom: 35px;
}

.divingAboutList {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.divingAboutList__item {
  display: flex;
  flex-direction: column;

  &+:nth-child(2n){
    flex-direction: column;
  }
}

.divingAboutList__imgBox {
  flex: 1 1 495px;
  aspect-ratio: 495/350;
  

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

.divingAboutList__contBox {
  flex: 1 1 145px;
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}

.divingAboutList__ttl {
  font-size: 20px;
  font-weight: 600;
}

.divingAboutList__txt {
  font-size: 14px;
  line-height: 1.71;
}
}




/*――――――――――――――――――――――――――――――――――――――――――――
/* benefitsArea
――――――――――――――――――――――――――――――――――――――――――――――*/
.benefitsArea {
  padding-top: 50px;
  padding-bottom: 80px;

  .c-ttl01 {
    margin-bottom: 57px;
  }
}

.benefitsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px cl(20, 35);
  counter-reset: number 0;
}

.benefitsList__item {
  width: calc((100% - (cl(20, 35)* 2)) / 3);
}

.benefitsList__imgBox {
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 18px;
}

.benefitsList__txt {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;

  &::before {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303138;
    color: #fff;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 600;
    width: 24px;
    height: 24px;
    margin: -1px 6px 0 0;
    font-family: $font-futura;
    counter-increment: number 1;
    content: counter(number)'';
  }
}

@include sp {
  .benefitsArea {
    padding-top: 30px;
    padding-bottom: 50px;

    .c-ttl01 {
      margin-bottom: 30px;
    }
  }

  .benefitsList {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 15px;
  }

  .benefitsList__item {
    width: calc((100% - (15px * 1)) / 2);

  }

  .benefitsList__imgBox {
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 15px;
  }

  .benefitsList__txt {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;

    &::before {
      font-size: 11px;
      width: 20px;
      height: 20px;
      margin: 1px 4px 0 0;
      padding: 1px 0 0 0;
    }
  }
}


/*――――――――――――――――――――――――――――――――――――――――――――
/* scheduleArea
――――――――――――――――――――――――――――――――――――――――――――――*/
.scheduleArea {
  padding-top: 80px;
  background-color: #FFFFFF;
  background-image: radial-gradient(#D8D8D8 8%, transparent 8%);
  background-size: 30px 30px;
  background-position: center -13px;
  z-index: 0;

  .c-ttl01{
    margin-bottom: 45px;
  }
}

.scheduleList {
  width: 390px;
  margin: 0 auto 45px;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  gap: 10px 0;

}

.scheduleList__item {
  padding: 20px 30px 20px 60px;
  border: 1px solid #C9C9C9;
  border-radius: 10px;
  position: relative;
  background-color: #FFFFFF;

  &::before{
    content: '';
    display: block;
    position: absolute;
    top: 25px;
    left: 29px;
    width: 18px;
    height: 18px;
    background: url(/assets/img/common/ico_schedule-circle.svg);
    background-size: 100%;
    z-index: 2;
  }

  &::after{
    content: '';
    display: block;
    position: absolute;
    top: 16px;
    left: 36px;
    width: 4px;
    height: calc(100% + 15px);
    background-color: #DBDBDB;
    z-index: 1;
  }

  &:first-child::after{
    content: '';
    display: block;
    position: absolute;
    top: 44px;
    left: 36px;
    width: 4px;
    height: 70px;
    background-color: #DBDBDB;
    z-index: 1;
  }

  &:last-child::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 36px;
    width: 4px;
    height: 28px;
    background-color: #DBDBDB;
    z-index: 1;
  }

  
}

.scheduleContentList {
  
}

.scheduleContentList__item {
  display: flex;
  align-items: baseline;
  gap: 0 20px;
  position: relative;
}

.scheduleContentList__time {
  min-width: 54px;
  font-size: 18px;
  font-family: "futura";
  font-weight: bold;
  color: #B4B4B4;
}

.scheduleContentList__txtBox {

}

.scheduleContentList__txt {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.75;
}

.schedule__txtBox {

}

.schedule__txt {
  text-align: center;
  font-size: 14px;
  color: #939393;
}

@include sp{
  .scheduleArea {
    padding-top: 40px;
    padding-bottom: 40px;
  
    .c-ttl01{
      margin-bottom: 30px;
    }
  }
  
  .scheduleList {
    width: 100%;
    margin: 0 auto 35px;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
  
  }
  
  .scheduleList__item {
    padding: 12px 20px 12px 40px;;
    border: 1px solid #C9C9C9;
    border-radius: 10px;
    position: relative;
    background-color: #FFFFFF;
  
    &::before{
      content: '';
      display: block;
      position: absolute;
      top: 15px;
      left: 15px;
      width: 16px;
      height: 16px;
      background: url(/assets/img/common/ico_schedule-circle.svg);
      background-size: 100%;
      z-index: 2;
    }
  
    &::after{
      content: '';
      display: block;
      position: absolute;
      top: 31px;
      left: 21px;
      width: 4px;
      height: calc(100% + 10px);
      background-color: #DBDBDB;
      z-index: 1;
    }
  
    &:first-child::after{
      content: '';
      display: block;
      position: absolute;
      top: 31px;
      left: 21px;
      width: 4px;
      height: 45px;
      background-color: #DBDBDB;
      z-index: 1;
    }
  
    &:last-child::after{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 21px;
      width: 4px;
      height: 28px;
      background-color: #DBDBDB;
      z-index: 1;
    }
  
    
  }
  
  .scheduleContentList {
    
  }
  
  .scheduleContentList__item {
    display: flex;
    align-items: baseline;
    gap: 0 20px;
    position: relative;
  }
  
  .scheduleContentList__time {
    min-width: 54px;
    font-size: 16px;
    font-family: "futura";
    font-weight: bold;
    color: #B4B4B4;
  }
  
  .scheduleContentList__txtBox {
  
  }
  
  .scheduleContentList__txt {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.75;
  }
  
  .schedule__txtBox {
    display: flex;
    justify-content: center;
  }
  
  .schedule__txt {
    font-size: 14px;
    color: #939393;
  }
}





/*――――――――――――――――――――――――――――――――――――――――――――
/* menuAboutArea
――――――――――――――――――――――――――――――――――――――――――――――*/
.menuAboutArea{
  background-color: #F7F7F7;
  padding-top: 21px;
  padding-bottom: 39px;

  .l-pd{
    background-color: #F7F7F7;
  }

  .c-ttl01{
    margin-bottom: 57px;
  }
}

.menuAboutList {
  display: flex;
  flex-direction: column;
  gap: 9px 0;
}

.menuAboutList__item {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 21px 30px;
}

.menuAboutContentList {

}

.menuAboutContentList__item {
  display: flex;
  gap: 0 clamp(25px, 30px, 45px);
}

.menuAboutContentList__ttl {
  min-width: 140px;
  font-size: 14px;
  font-weight: 600;
}

.menuAboutContentList__txtBox {
  .c-txtDot+.c-txtDot{
      margin-top: 3px;
  }
}

.menuAboutContentList__txt {
  font-size: 14px;
  line-height: 1.71;
}

.menuAboutContentList__link{
  border-bottom: 1px solid #001C10;

  &::after{
    content: '';
    background: url(/assets/img/common/ico_link-txt-arrow.svg) no-repeat center;
    width: 16px;
    height: 16px;
    margin: 0 2px -2px;
    display: inline-block;
  }
}

.yen {
  font-size: 13px;
  font-weight: 600;
  margin-left: 8px;
  margin-right: -5px;
}

.num {
  font-size: 14px;
  font-weight: 600;
}

@include sp{
  .menuAboutArea{
    padding-top: 0;
    padding-bottom: 30px;
  
    .c-ttl01{
      margin-bottom: 30px;
    }
  }
  
  .menuAboutList {
    display: flex;
    flex-direction: column;
    gap: 9px 0;
  }
  
  .menuAboutList__item {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px 20px;
  }
  
  .menuAboutContentList {
  
  }
  
  .menuAboutContentList__item {
    display: flex;
    flex-direction: column;
    gap: 0 clamp(25px, 30px, 45px);
  }
  
  .menuAboutContentList__ttl {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 2px solid #F5F5F5;
    margin-bottom: 10px;
  }
  
  .menuAboutContentList__txtBox {
    .c-txtDot+.c-txtDot{
        margin-top: 3px;
    }
  }
  
  .menuAboutContentList__txt {
    font-size: 14px;
    line-height: 1.71;
  }
  
  .menuAboutContentList__link{
    border-bottom: 1px solid #001C10;
  
    &::after{
      content: '';
      background: url(/assets/img/common/ico_link-txt-arrow.svg) no-repeat center;
      width: 16px;
      height: 16px;
      margin: 0 2px -2px;
      display: inline-block;
    }
  }
  
  .yen {
    font-size: 13px;
    font-weight: 600;
    margin-left: 8px;
    margin-right: -5px;
  }
  
  .num {
    font-size: 14px;
    font-weight: 600;
  }
}





/*――――――――――――――――――――――――――――――――――――――――――――
/* flow
――――――――――――――――――――――――――――――――――――――――――――――*/
.flowArea {
  padding-top: 0px;
  padding-bottom: 50px;

  .c-contentBox{
    padding-top: 76px;
  }

  .c-ttl01{
    margin-bottom: 45px;
  }
}

.center {

}

.flowList {
  display: flex;
  flex-direction: column;
  gap: 50px 0;
  counter-reset: number 0;
}

.flowList__item {
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  position: relative;


  &+&::before{
    content: '';
    position: absolute;
    top: -33px;
    left: 0;
    right: 0;
    display: block;
    width: 27px;
    height: 15px;
    background: url(/assets/img/common/ico_flow-arrow.svg);
    margin: auto;
  }
}

.flowList__contBox {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 25px 24px 59px;
  min-height: 157px;
}

.flowList__ttl {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  position: relative;

  &::before{
    display: flex;
    align-items: center;
    justify-content: center;
    content: counter(number) '';
    counter-increment: number 1;
    width: 24px;
    height: 24px;
    background-color: #303138;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    font-family: "futura";
    position: absolute;
    top: 0;
    left: -35px;;
  }
}

.flowList__txt {
  font-size: 14px;
  line-height: 1.71;
}

.flowList__imgBox {
  width: 241px;
  border-radius: 0 15px 15px 0;
  overflow: hidden;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.flowList__subImgBox {
  border: 3px solid #F5F5F5;
  border-radius: 10px;
  position: absolute;
  bottom: -29px;
  right: -27px;
  width: 136px;
  overflow: hidden;


  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@include sp{
  .flowArea {
    padding-top: 0px;
  
    .c-contentBox{
      padding-top: 40px;
      padding-bottom: 50px;
    }
  
    .c-ttl01{
      margin-bottom: 30px;
    }
  }
  
  .center {
  
  }
  
  .flowList {
    display: flex;
    flex-direction: column;
    gap: 50px 0;
    counter-reset: number 0;
  }
  
  .flowList__item {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
  
  
    &+&::before{
      content: '';
      position: absolute;
      top: -33px;
      left: 0;
      right: 0;
      display: block;
      width: 27px;
      height: 15px;
      background: url(/assets/img/common/ico_flow-arrow.svg);
      margin: auto;
    }
  }
  
  .flowList__contBox {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 25px 20px 40px;
    min-height: auto;
  }
  
  .flowList__ttl {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    position: relative;
  
    &::before{
      display: flex;
      align-items: center;
      justify-content: center;
      content: counter(number) '';
      counter-increment: number 1;
      width: 20px;
    height: 20px;
    background-color: #303138;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    font-family: "futura";
    position: absolute;
    top: 3px;
    left: -25px;
    }
  }
  
  .flowList__txt {
    font-size: 14px;
    line-height: 1.71;
  }
  
  .flowList__imgBox {
    width: 100%;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
  
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .flowList__subImgBox {
    border: 3px solid #F5F5F5;
    border-radius: 10px;
    position: absolute;
    bottom: -29px;
    right: -27px;
    width: 136px;
    overflow: hidden;
  
  
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


