/*――――――――――――――――――――――――――――――――――――――――――――
/* blogArcArea
――――――――――――――――――――――――――――――――――――――――――――――*/
.blogArcArea {
  padding-bottom: 120px;
}
@include sp {
  .blogArcArea {
    padding-bottom: 50px;
  }
}


/*** blogArcCatLis  ***/
.blogArcCatListBox {
  display: flex;
  justify-content: center;
  margin-bottom: 49px;
}
.blogArcCatList {
  display: flex;
  gap: 0 15px;
  padding: 7px 8px;
  border: solid 1px #001C10;
  border-radius: 12px;
}
.blogArcCatList__item {
  width: 180px;
  position: relative;

  @include pc {

  & + & {
    &::before {
      display: block;
      position: absolute;
      top: 0;
      left: -8px;
      bottom: 0;
      width: 1px;
      height: calc(100% - 10px);
      margin: auto;
      background-color: #D3D3D3;
      content: '';
    }
  }
}
}
.blogArcCatList__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px 10px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  border-radius: 8px;

  &:hover {
    background-color: #E5E5E5;
    opacity: 1;
  }

  .blogArcCatList__item.is-active & {
    background-color: #001C10;
    color: #fff;

    &:hover {
      opacity: 1;
      cursor: default;
    }
  }
}

@include sp {
  .blogArcCatListBox {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .blogArcCatList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 15px;
    padding: 12px 15px;
    border-radius: 12px;
  }
  .blogArcCatList__item {
    width: calc((100% - (15px * 1)) / 2);
    position: relative;

    &:nth-child(2n + 1)::before {
      display: block;
      position: absolute;
      top: 0;
      right: -8px;
      bottom: 0;
      width: 1px;
      height: calc(100% - 10px);
      margin: auto;
      background-color: #D3D3D3;
      content: '';
    }
  }
  .blogArcCatList__link {
    padding: 7px 13px;
    font-size: 12px;
    border-radius: 5px;

    .blogArcCatList__item.is-active & {
      border-radius: 5px;
    }
  }
}


/*** blogArcList ***/
.blogArcList {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 50px cl(20, 35);

  .c-postDate {
    font-size: 13px;
  }
}
.blogArcList__item {

}
.blogArcList__link {
  display: block;

  &:hover {
    opacity: 1;

    .blogArcList__imgBox img {
      transform: scale(1.2);
    }
  }
}
.blogArcList__imgBox {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  margin-bottom: 23px;

  img {
    transition: .3s;
  }
}
.blogArcList__contBox {

}
.blogArcList__infoBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px 10px;
  margin-bottom: 17px;
}
.blogArcList__ttl {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.555;
}
.blogArcList__txt {
  font-size: 14px;
  line-height: 1.71;
}

@include sp {
  .blogArcList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 50px cl(20, 35);

    .c-postDate {
      font-size: 13px;
    }
  }
  .blogArcList__item {

  }
  .blogArcList__link {
    display: block;

    &:hover {
      opacity: 1;

      .blogArcList__imgBox img {
        transform: scale(1.2);
      }
    }
  }
  .blogArcList__imgBox {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    margin-bottom: 16px;

    img {
      transition: .3s;
    }
  }
  .blogArcList__contBox {

  }
  .blogArcList__infoBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px 10px;
    margin-bottom: 12px;
  }
  .blogArcList__ttl {
    margin-bottom: 9px;
    font-size: 16px;
  }
  .blogArcList__txt {
    font-size: 14px;
    line-height: 1.71;
  }
}


/*** pagination ***/
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 74px;
}

ul.page-numbers {
  display: flex;
  align-items: center;
  gap:0 6px
}
a.page-numbers,
.page-numbers.current {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: solid 1px #3A3333;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 600;
}
a.page-numbers {
  &:hover {
    background-color: #3A3333;
    color: #fff;
    opacity: 1;
  }
}
.page-numbers.current {
  background-color: #3A3333;
  color: #fff;
}
@include sp {
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  ul.page-numbers {
    display: flex;
    align-items: center;
    gap:0 6px
  }
  a.page-numbers,
  .page-numbers.current {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
  }
  a.page-numbers {

  }
  .page-numbers.current {

  }
}


/**********************************************************

post

***********************************************************/
.postArea {
  padding-top: 10px;
  padding-bottom: 120px;
}
.postArt {

}
.postArtHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  .c-postDate {
    font-size: 14px;

    &::before {
      width: 13px;
      height: 13px;
    }
  }
}
.postArtCatList {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;

  .c-postCat {
    padding: 4px 7px;
    font-size: 12px;
  }
}
.postArtCatList__item {

}
.postArt__ttl {
  margin-bottom: 27px;
  font-size: 31px;
  font-weight: 600;
  line-height: 1.42;
}
.postArtTag {
  display: flex;
  align-items: baseline;
  margin-bottom: 60px;
}
.postArtTag__ttl {
  flex-shrink: 0;
  font-size: 15px;
  font-weight: 600;
  color: #9B9B9B;
  margin-right: 10px;
}
.postArtTagList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
}
.postArtTagList__item {

}
.postArtTagList__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #9B9B9B;
  font-size: 12px;
  color: #9B9B9B;
  font-weight: 600;
  border-radius: 20px;
  padding: 4px 11px;
  background-color: #fff;

  &::before {
    display: inline-block;
    width: 10px;
    height: 12px;
    margin: 0 3px 0 0;
    background: url(../img/common/ico_tag.svg) no-repeat center center/100%;
    content: '';
  }
}
.postThumbnail {
  width: 100%;
  max-width: 568px;
  margin: 60px auto 71px;
  border-radius: 15px;
  overflow: hidden;
}
.postThumbnail__img {

}

@include sp {
  .postArea {
    padding-top: 0px;
    padding-bottom: 50px;
  }
  .postArt {
    padding-left: 0;
    padding-right: 0;
  }
  .postArtHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .c-postDate {
      font-size: 12px;

      &::before {
        width: 11px;
        height: 11px;
      }
    }
  }
  .postArtCatList {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;

    .c-postCat {
      padding: 3px 5px;
      font-size: 10px;
    }
  }
  .postArtCatList__item {

  }
  .postArt__ttl {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.42;
  }
  .postArtTag {
    display: flex;
    align-items: baseline;
    margin-bottom: 30px;
  }
  .postArtTag__ttl {
    flex-shrink: 0;
    font-size: 13px;
    font-weight: 600;
    color: #9B9B9B;
    margin-right: 10px;
  }
  .postArtTagList {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 5px;
  }
  .postArtTagList__item {

  }
  .postArtTagList__link {
    font-size: 10px;
    padding: 3px 7px;

    &::before {
      width: 8px;
      height: 10px;
      margin: 0 2px 0 0;
    }
  }
  .postThumbnail {
    width: 100%;
    max-width: 568px;
    margin: 30px auto 30px;
    border-radius: 12px;
    overflow: hidden;
  }
  .postThumbnail__img {

  }
}


/*――――――――――――――――――――――――――――――――――――――――――――
/* postConditionSec
――――――――――――――――――――――――――――――――――――――――――――――*/
.postConditionSec {
  background-color: #F5F5F5;
  border-radius: 25px;
  padding: 30px cl(20, 30) 26px;
  margin-bottom: 58px;
}
.postCondition__ttl {
    background-color: #001C10;
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    border-radius: 15px;
    padding: 11px 15px;
    margin-bottom: 16px;
}
.postCondition__contBox {
  padding: 24px cl(20,30) 20px;
  background-color: #fff;
  border-radius: 15px;
}
.postConditionList {
  display: flex;
  flex-wrap: wrap;
  gap: 0 12px;
}
.postConditionList__item {
  display: flex;
  align-items: center;
  gap: 0 13px;
  margin-top: -1px;
  padding: 8px 0 8px;
  border-top: solid 1px #EBEBEB;
  border-bottom: solid 1px #EBEBEB;
  width: calc((100% - (12px * 2)) / 3);


  &.weather {
    .postConditionList__ttl::before {
      width: 16px;
      height: 16px;
      background-image: url(../img/common/ico_condition-weather.svg);
    }
  }
  &.temp {
    .postConditionList__ttl::before {
      width: 9px;
      height: 18px;
      background-image: url(../img/common/ico_condition-temp.svg);
    }
  }
  &.waterTemp {
    .postConditionList__ttl::before {
      width: 10px;
      height: 15px;
      background-image: url(../img/common/ico_condition-water-temp.svg);
    }
  }
  &.windDirection {
    .postConditionList__ttl::before {
      width: 15px;
      height: 15px;
      background-image: url(../img/common/ico_condition-wind-direction.svg);
    }
  }
  &.waveHeight {
    .postConditionList__ttl::before {
      width: 15px;
      height: 13px;
      background-image: url(../img/common/ico_condition-wave-height.svg);
    }
  }
  &.transparency {
    .postConditionList__ttl::before {
      width: 15px;
      height: 13px;
      background-image: url(../img/common/ico_condition-transparency.svg);
    }
  }
}
.postConditionList__ttl {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  padding: 6px 10px 6px;
  background-color: #EBEBEB;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;

  &::before {
    flex-shrink: 0;
    display: inline-block;
    margin: 0 6px 0 0;
    background: url(../img/) no-repeat center center/100%;
    content: '';
  }
}
.postConditionList__txt {
  font-size: 14px;
}
.postCondition__cont {
  margin-top: 20px;

  p {
    font-size: 14px;
    line-height: 1.857;
  }
}

@include sp {
  .postConditionSec {
    border-radius: 20px;
    padding: 30px cl(20, 30) 26px;
    margin-bottom: 40px;
  }
  .postCondition__ttl {
    font-size: 18px;
    text-align: center;
    border-radius: 12px;
    padding: 11px 12px;
    margin-bottom: 16px;
  }
  .postCondition__contBox {
    padding: 24px 20px 20px;
    border-radius: 12px;
  }
  .postConditionList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 0 12px;
  }
  .postConditionList__item {
    display: flex;
    align-items: center;
    gap: 0 13px;
    padding: 8px 0 8px;
    width: 100%;

  }
  .postConditionList__ttl {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    padding: 6px 10px 6px;
    font-size: 13px;
    font-weight: 600;

    &::before {
      flex-shrink: 0;
      display: inline-block;
      margin: 0 6px 0 0;
      background: url(../img/) no-repeat center center/100%;
      content: '';
    }
  }
  .postConditionList__txt {
    font-size: 13px;
  }
  .postCondition__cont {
    margin-top: 20px;

    p {
      font-size: 14px;
      line-height: 1.857;
    }
  }
}


/*――――――――――――――――――――――――――――――――――――――――――――
/* postArtCont
――――――――――――――――――――――――――――――――――――――――――――――*/
.postArtCont {
  margin-bottom: 110px;

  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }

  p {
    margin-top: 25px;
    margin-bottom: 25px;
      font-size: 15px;
      line-height: 1.75;
  }
  strong {
    font-weight: 600;
  }
  a {
    color: #4F9E5A;
    text-decoration: underline;
  }
  h2 {
    margin-top: 2.4em;
    margin-bottom: 1.6em;
    padding: 14px 15px 14px 34px;
    background-color: #F5F5F5;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    font-size: 22px;
    font-weight: 600;

    &::before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 13px;
      height: 100%;
      margin: auto;
      background-color: #001C10;
      content: '';
    }

    & + * {
      margin-top: 0 !important;
    }
  }
  h3 {
    margin-top: 1.7em;
    margin-bottom: 0.9em;
    color: #001C10;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    line-height: 1.3;

    & + * {
      margin-top: 0 !important;
    }
  }
  table {
    width: fit-content;
    min-width: 363px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #A9B5C1;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 6px;
    overflow: hidden;

    th,td {
      padding: 8px 20px 9px;
      border-bottom: 1px solid #D5DEE8;
      font-size: 16px;
    }
    th {
      width: 113px;
      font-weight: 600;
    }
    td {
      border-left: 1px solid #D5DEE8;
    }
    tr:last-child th,tr:last-child td {
      border-bottom: none;
    }
  }
  .wp-block-image {
    margin-top: 40px;
    margin-bottom: 40px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    img {
      border-radius: 15px;
    }
  }
  figcaption {
    margin-top: 6px;
    text-align: center;
  }
}

@include sp {
  .postArtCont {
    margin-bottom: 60px;

    p {
      margin-top: 20px;
      margin-bottom: 20px;
        font-size: 14px;
        line-height: 1.75;
    }
    a {
    }
    h2 {
      margin-top: 2.2em;
      margin-bottom: 1.4em;
      padding: 12px 15px 12px 20px;
      border-radius: 5px;
      font-size: 20px;

      &::before {
        top: 0;
        left: 0;
        width: 8px;
        height: 100%;
      }

    }
    h3 {
      margin-top: 1.5em;
      margin-bottom: 0.8em;
      font-size: 18px;
      padding-left: 15px;
      line-height: 1.3;

      &::before {
        display: block;
        position: absolute;
        top: 5px;
        left: 0;
        width: 9px;
        height: 13px;
        margin: auto;
      }

    }
    table {
      width: 100%;
      min-width:0;
      border-radius: 6px;
      overflow: hidden;

      th,td {
        padding: 8px 20px 9px;
        font-size: 15px;
      }
      th {
        width: 113px;
        font-weight: 600;
      }
      td {

      }

  }
  .wp-block-image {
    margin-top: 25px;
    margin-bottom: 25px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    img {
      border-radius: 12px;
    }
  }
  figcaption {
    text-align: center;
  }
}
}

/*――――――――――――――――――――――――――――――――――――――――――――
/* postNextArt
――――――――――――――――――――――――――――――――――――――――――――――*/
.postNextArt {
  margin-top: 35px;
  display: flex;
  gap: 22px 30px;
}
.postNextArt__link {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 21px 20px;
  padding: 20px 20px;
  background-color: #F5F5F5;
  border-radius: 20px;

}
.postNextArt__imgBox {
  width: 126px;
  border-radius: 14px;
  overflow: hidden;
}
.postNextArt__img {
  width: 100%;
  height: auto;
  aspect-ratio: 126/107;
  object-fit: cover;
}
.postNextArt__cont {
  flex: 1;
}
.postNextArt__linkTxt {
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 600;
  line-height: 1;
  color: #AAAAAA;
  position: relative;
}
.postNextArt__ttl {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.625;
}

/*** prev ***/
.postNextArt__link.prev {

}

/*** next ***/
.postNextArt__link.next {

  margin: 0 0 0 auto;
  .postNextArt__imgBox {
    order: 2;
  }
  .postNextArt__cont {
    order: 1;
  }
  .postNextArt__linkTxt {
    padding: 0 18px 0 0;
    text-align: right;

    &::before {
      left: auto;
      right: 0;
      transform: rotate(180deg);
    }
  }
  .postNextArt__ttl {
    text-align: right;
  }
}

@include sp {
  .postNextArt {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px 0;
  }
  .postNextArt__link {
    display: flex;
    width: 100%;
    gap: 21px 15px;
    padding: 15px 15px;
    border-radius: 15px;

    & + & {
      border: none;
    }

  }
  .postNextArt__imgBox {
    flex-basis: 140px;
    border-radius: 8px;
    overflow: hidden;
  }
  .postNextArt__img {
    width: 100%;
    height: auto;
    aspect-ratio: 126/90;
    object-fit: cover;
  }
  .postNextArt__cont {
    flex: 1;
  }
  .postNextArt__linkTxt {
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;

  }
  .postNextArt__ttl {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.625;
  }

  /*** prev ***/
  .postNextArt__link.prev {

  }

  /*** next ***/
  .postNextArt__link.next {

    margin: 0 0 0 auto;
    .postNextArt__imgBox {
      order: 2;
    }
    .postNextArt__cont {
      order: 1;
    }
    .postNextArt__linkTxt {
      padding: 0 18px 0 0;
      text-align: right;

      &::before {
        left: auto;
        right: 0;
        transform: rotate(180deg);
      }
    }
  }
}

/*――――――――――――――――――――――――――――――――――――――――――――
/* 最新記事
――――――――――――――――――――――――――――――――――――――――――――――*/
.newPost {
  margin-top: 65px;
}
.newPost__ttl {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 32px;
}

@include sp {
  .newPost {
    margin-top: 50px;
  }
  .newPost__ttl {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

/*――――――――――――――――――――――――――――――――――――――――――――
/* post__backLink
――――――――――――――――――――――――――――――――――――――――――――――*/
.post__backLink {
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;

  &::after {
    right: auto;
    left: 18px;
      transform: rotate(180deg);
  }
}
