.faqArea {
  padding-bottom: 120px;
}

.faqList {
  width: 100%;
}

.faqList__item {
  display: flex;
  justify-content: center;
  flex-direction: column;

  &+&{
    margin-top: 40px;
  }
}

.faqList__q {
  padding: 25px;
}

.faqList__q--txt {
  font-size: 18px;
  font-weight: 600;
  margin-left: 41px;
  position: relative;

  &::before{
    content: 'Q';
    font-size: 13px;
    font-weight: bold;
    font-family: "futura";
    background-color: #313590;
    color: #FFFFFF;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: -41px;
    margin: auto;
  }
}

.faqList__a {
  padding: 25px;
  background-color: #F5F5F5;
  border-radius: 20px;
}

.faqList__a--txt {
  font-size: 14px;
  font-family: "ヒラギノ角ゴシック";
  line-height: 1.71;
  margin-left: 41px;
  position: relative;

  &::before{
    content: 'A';
    font-size: 13px;
    font-weight: bold;
    font-family: "futura";
    background-color: #903232;
    color: #FFFFFF;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: -41px;
    margin: auto;
  }
}

.faqScheduleList {
  padding: 18px 20px;
  background-color: #FFFFFF;
  border-radius: 15px;
  margin-bottom: 23px;
}

.faqScheduleList__item {
  display: flex;
  align-items: center;
  gap: 0 20px;
  
  &+&{
    padding-top: 5px;
    margin-top: 5px;
    border-top: 1px dashed  #F5F5F5;
  }
}

.faqScheduleList__time {
  min-width: 3em;
  font-size: 14px;
  font-weight: 600;
  font-family: "ヒラギノ角ゴシック";
}

.faqScheduleList__txt {
  font-size: 14px;
  font-family: "ヒラギノ角ゴシック";
}

.faqList__a--note {
  font-size: 14px;
  font-family: "ヒラギノ角ゴシック";
  margin-left: 41px;
  line-height: 1.71;
}

.belongingsList {
  padding: 20px;
  margin-left: 41px;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.belongings{
  margin-bottom: 22px;
}

.belongingsList__item {
  display: flex;
  align-items: center;
  gap: 0 42px;

  &+&{
    margin-top: 16px;
    padding-top: 16px;
    border: 1px dashed #F5F5F5;
  }
}

.belongingsList__season {
  font-size: 14px;
  font-weight: 600;
}

.belongingsList__txt {
  font-size: 14px;
  font-family: "ヒラギノ角ゴシック";
  line-height: 1.71;
}

.faqList__a--link {
  border-bottom: 1px solid black;
  position: relative;

  &::after{
    content: '';
    background: url(/assets/img/common/ico_link-txt-arrow.svg) no-repeat center;
    width: 16px;
    height: 16px;
    margin: 0 2px -2px;
    display: inline-block;
  }
}

@include sp{
  .faqArea {
    padding-bottom: 60px;
  }
  
  .faqList {
    width: 100%;
  }
  
  .faqList__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
  
    &+&{
      margin-top: 20px;
    }
  }
  
  .faqList__q {
    padding: 15px 25px;
  }
  
  .faqList__q--txt {
    font-size: 15px;
    font-weight: 600;
    margin-left: 41px;
    position: relative;
  
    &::before{
      content: 'Q';
      font-size: 11px;
      font-weight: bold;
      font-family: "futura";
      background-color: #313590;
      color: #FFFFFF;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: -41px;
      margin: auto;
    }
  }
  
  .faqList__a {
    padding: 15px 25px;
    background-color: #F5F5F5;
    border-radius: 20px;
  }
  
  .faqList__a--txt {
    font-size: 12px;
    font-family: "ヒラギノ角ゴシック";
    line-height: 1.71;
    margin-left: 41px;
    position: relative;
  
    &::before{
      content: 'A';
      font-size: 11px;
      font-weight: bold;
      font-family: "futura";
      background-color: #903232;
      color: #FFFFFF;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: -41px;
      margin: auto;
    }
  }
  
  .faqScheduleList {
    padding: 18px 20px;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 15px;
  }
  
  .faqScheduleList__item {
    display: flex;
    align-items: center;
    gap: 0 15px;
    
    &+&{
      padding-top: 5px;
      margin-top: 5px;
      border-top: 1px dashed  #F5F5F5;
    }
  }
  
  .faqScheduleList__time {
    min-width: 3em;
    font-size: 12px;
    font-weight: 600;
    font-family: "ヒラギノ角ゴシック";
  }
  
  .faqScheduleList__txt {
    font-size: 12px;
    font-family: "ヒラギノ角ゴシック";
  }
  
  .faqList__a--note {
    font-size: 12px;
    font-family: "ヒラギノ角ゴシック";
    margin-left: 41px;
    line-height: 1.71;
  }
  
  .belongingsList {
    padding: 15px 20px;
    margin-left: 41px;
    background-color: #FFFFFF;
    border-radius: 15px;
  }
  
  .belongings{
    margin-bottom: 15px;
  }
  
  .belongingsList__item {
    display: flex;
    align-items: center;
    gap: 0 30px;
  
    &+&{
      margin-top: 16px;
      padding-top: 16px;
      border: 1px dashed #F5F5F5;
    }
  }
  
  .belongingsList__season {
    font-size: 12px;
    font-weight: 600;
  }
  
  .belongingsList__txt {
    font-size: 12px;
    font-family: "ヒラギノ角ゴシック";
    line-height: 1.71;
  }
  
  .faqList__a--link {
    border-bottom: 1px solid black;
    position: relative;
  
    &::after{
      content: '';
      background: url(/assets/img/common/ico_link-txt-arrow.svg) no-repeat center;
      width: 16px;
      height: 16px;
      margin: 0 2px -2px;
      display: inline-block;
    }
  }
}

